.th{
    background-color:#445764;
    color:white;
    font-size:larger;
    font-weight:bold;
}

.silver
{
  background-color:#cac9c9;
}

.dataHover 
{
  background-color:#7ab09d;
  color:white;
  font-weight:bold;
}
