@{
    ViewBag.Title = "Home";
}

<head>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script src="~/Scripts/animation.js"></script>

</head>

<body>
    <div style="height:880px">
        <div>
            <img src="~/Images/1.jpg" style="width:1100px; height:220px" />
        </div>
        <div align="center">
            <br />
            <b style="font-family:'SketchFlow Print'; font-size:50px">World Traveller</b>
            <br /><br />
        </div>

        <div class="col-md-4">
            <div class="toggler1">
                <div id="effect1">
                    <h4 class="ui-widget-header ui-corner-all">The 16 places you need to visit<br/><br/></h4>
                    <br />
                    <img src="~/Images/hk.jpg" />
                    <br /><br />
                    <b>HONG KONG</b>
                    <br />
                    Hong Kong, a city filled with gourmands, a bustling, blaring metropolis where every single person is thinking about their next meal.
                    It's not just local Cantonese food that's good – although this is the home of dim sum.
                    In Hong Kong there's cuisine from all over China; in fact from all over the world.
                    If you travel on your stomach, this city should be on your 2016 menu.
                </div>
                <br />
                <button id="button1" class="ui-state-default ui-corner-all">Find out more</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="toggler2">
                <div id="effect2">
                    <h4 class="ui-widget-header ui-corner-all">I fancy a road trip<br/><br/></h4>
                    <br />
                    <img src="~/Images/trip.jpg" />
                    <br /><br />
                    <b>The Outback Way: Perth to Cairns</b>
                    <br />
                    The Outback Way is the granddaddy of shortcuts, Australia's longest. 
                    Stretching an epic 4615 kilometres from Perth to Cairns via Uluru and Alice Springs on a network 
                    of well-maintained dirt roads such as the Great Central Road and the Plenty Highway, 
                    it's not exactly short but it certainly cuts – about 1000 kilometres compared with driving Highway 
                    1 and other main roads.
                </div>
                <br />
                <button id="button2" class="ui-state-default ui-corner-all">Find out more</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="toggler3">
                <div id="effect3">
                    <h4 class="ui-widget-header ui-corner-all">Take me on a tour<br /><br /></h4>
                    <br />
                    <img src="~/Images/africa.jpg" />
                    <br /><br />
                    <b>Wild at heart</b>
                    <br />
                    Wild at heart is game on for an unforgettable adventure, writes Katrina Lobley in this first-timers' safari guide.
                    The urge to go on safari strikes me suddenly and unexpectedly, in the way some people fall head over heels in love. 
                    Out of the blue - maybe it's a mid-40s thing - I want to see Africa's animals roaming the land under huge skies 
                    instead of behind bars in a zoo.
                </div>
                <br />
                <button id="button3" class="ui-state-default ui-corner-all">Find out more</button>
            </div>
        </div>
    </div>
</body>


